<div ng-controller='validateCtrl'>
<div>
<!-- , :'ng-submit'=>'submitForm()' -->
  <%= form_for @idea, :html=>{:class=>'form', :name=>'myForm', :'novalidate'=>'' } do |f| %> 
    <% if @idea.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

        <ul>
        <% @idea.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
     <%= @idea.description %>
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, :'init-value'=>@idea.name, :'ng-model'=>'idea.name', :class => 'form-control', :required=>'' %>
      <p ng-show="myForm.name.$invalid && !myForm.name.$pristine" class="help-block">You name is required.</p>
    </div>

    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_area :description, :'init-value'=>@idea.description, :'ng-model'=>'idea.description', :class => 'form-control', :required=>'' %>
    </div>

    <div class="form-group">
      <%= f.label :picture %><br>
      <%= f.text_field :picture, :class => 'form-control' %>
    </div>

    <div class="form-group actions">
      <%= f.submit(:class=>'btn btn-primary', :'ng-disabled'=>'myForm.name.$dirty && myForm.name.$invalid ||
    myForm.message.$dirty && myForm.message.$invalid') %>

    </div>
  <% end %>
</div>
</div>
